.tabl1 {
    border: solid 1px black;
    width: 500px;
    height: 400px;

}
.tabl2{
    border: solid 1px ;
    height: auto;
    width: auto;
}
.tabl3{
    background: green;
    height: 30px;
    width: auto;
    border: solid 1px;
}
.tabl4{
    width: 600px;
    height: 400px;
    border: solid 1px;
}
.tabl5{
    height: 30px;
    width: auto;
    border: solid 1px;
}
.tabl6{
    width: 700px;
    height: 500px;
    border: solid 1px;
}
.head1{
    width: 600px;
    border: solid 1px;
}
.tabl7{
    border: solid 1px;
    width: 50px;
    height: 30px;
}
.tabl8{
    border: solid 1px;
    width: auto;
    height: auto;
}
.tabl9{
    border: solid 1px;
    width: auto;
    height: 280px;
}
.table1{
    width: 100px;
    height: 50px;
    border: solid 1px;
}
.table2{
    height: 700px;
    width: 900px;
    border: solid 1px;
}
.bord{
    border: solid 1px;
    height: 60px;
    width: 65px;
}
.bord1{
    border: solid 1px;
    height: 25px;
    width: 65px;
}
.bord2{
    border: solid 1px;
    height: 40px;
    width: 65px;
}
.bordwhite{
    border: solid 1px ;
    height: 40px;
    width: 65px;
    background: white;
}
.bordred{
    border: solid 1px ;
    height: 40px;
    width: 65px;
    background: red;
}
.bordgreen{
    border: solid 1px ;
    height: 40px;
    width: 65px;
    background: green;
}
.bordblue{
    border: solid 1px ;
    height: 40px;
    width: 65px;
    background: blue;
}   
